<html>
    <head>
        <title>ElderMinder: Log In</title>
    </head>
    <body>
        <center><h1>Welcome to ElderMinder</h1></center>
        <center><h3>Enter Username: <input type = "Username">  </input></h3></center>
        <center><h3>Enter Password: <input type = "Password">  </input></h3></center>
        <center><button type="button"><a class="w3-btn" href="main_page"><p>Log In</p></a></button></center>
        <center><button type="button"><a class="w3-btn" href="create_account"><p>Create Account</p></a></button></center>
    </body>
</html>
